<%= content_for(:title, "KGH | Check & Generate") %>

<div class="m-0 p-3 container-fluid">
  <%= turbo_stream_from @mentor %>
  
  <%= link_to "Back", :back, class: "btn btn-primary col-12 mb-3" %>
  <button type="button" class="btn btn-primary col-12 mb-3" data-bs-toggle="modal" data-bs-target="#generateMonthlyReportModal">
    Generate report
  </button>

  <div class="modal fade" id="generateMonthlyReportModal" tabindex="-1" aria-labelledby="generateMonthlyReportModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="generateMonthlyReportModal">Do you want to generate report?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        </div>
        <div class="modal-body d-flex flex-column">
          <div data-controller="loader" class="m-0 p-0">
            <div data-loader-target="button" class="m-0 p-0">
              <%= link_to "Generate report",
                  monthly_reports_path(report_date: @report_date, group_id: @group.id, mentor_id: Current.user.mentor.id),
                  class: "btn btn-primary col-12 mb-3",
                  data: {
                    turbo_method: "post",
                    action: "click->loader#show"
                  } %>
            </div>

            <div data-loader-target="spinner" class="d-none m-0 p-0">
              <div class="m-0 p-0 w-100 text-center">
                <div class="spinner-border text-primary" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% @info_about_visits.each do |visits| %>
    <div class="accordion my-0 p-0" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-<%= visits.first.child.id %>" aria-expanded="true" aria-controls="panelsStayOpen-collapse-<%= visits.first.child.id %>">
            <div class="m-0 p-0 d-flex flex-column">
              <p class="m-0 p-0 lh-1"><%= visits.first.child.first_name %></p>
              <p class="m-0 p-0 lh-1"><%= visits.first.child.middle_name %></p>
              <p class="m-0 p-0 lh-1"><%= visits.first.child.last_name %></p>
            </div>
          </button>
        </h2>
        <div id="panelsStayOpen-collapse-<%= visits.first.child.id %>" class="accordion-collapse collapse show">
          <div class="accordion-body px-0">
            <%= form_with url: overwrite_children_info_path, method: :patch, data: { turbo: true } do |form| %>
              <table class="table" id="visit">
                <tr>
                  <th>Checkbox</th>
                  <th>Date</th>
                  <th>Selectable</th>
                </tr>
                <% visits.each do |visit| %>
                  <tr id="info_about_visit_<%= visit.id %>">
                    <td>
                      <div class="m-0 p-0">
                        <input class="form-check-input p-3 m-0" type="checkbox" id="visit_checkbox_<%= visit.id %>" value="<%= visit.id %>" name="visit_ids[]">
                      </div>
                    </td>
                    <td>
                      <%= correct_date(visit.date) %>
                    </td>
                    <td id="visit_<%= visit.id %>">
                      <div class="dropdown col-12">
                        <button class="btn btn-primary btn-sm col-12 mx-auto" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <%= visit.reason %>
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <%= link_to "sick", overwrite_child_info_path(reason: "sick", visit_id: visit.id), data: { turbo_method: "patch" }, class: "text-decoration-none d-flex justify-content-center my-3 text-white" %>
                          </li>
                          <li>
                            <%= link_to "vacation", overwrite_child_info_path(reason: "vacation", visit_id: visit.id), data: { turbo_method: "patch" }, class: "text-decoration-none d-flex justify-content-center my-3 text-white" %>
                          </li>
                          <li>
                            <%= link_to "other", overwrite_child_info_path(reason: "other", visit_id: visit.id), data: { turbo_method: "patch" }, class: "text-decoration-none d-flex justify-content-center my-3 text-white" %>
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </table>
              <div class="m-0 p-0 d-flex flex-row">
                <%= form.submit "sick", class: "btn btn-primary p-1 mx-1 my-0 w-100" %>
                <%= form.submit "vacation", class: "btn btn-primary p-1 mx-1 my-0 w-100" %>
                <%= form.submit "other", class: "btn btn-primary p-1 mx-1 my-0 w-100" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
